.header{
   display: flex; 
   align-items: center;
}
.header .img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;

}

.header .right{
    margin-left: 10px;
}
.header .right .name{
    font-weight: 500;
    font-size: 1.3em;
}
.header .right .status{
    color: #363062;
    font-weight: 500;
}

.chatbot_main .main_content .messages{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.chatbot_main{
    margin: 30px 0 0;
}
.chatbot_main .main_content .messages .bot-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #EDECED;
    font-style: 1.1em;
    border-radius: 10px;
    margin: 0 10px 0;
} 
.chatbot_main .main_content .messages .human-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #363062;
    color: #EDECED;
    font-style: 1.1em;
    border-radius: 10px;
    /* margin: 0 10px 0; */
    position: relative;
    top: 120px;
    margin-bottom: 20px;
} 

