.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper{
  width: 100%;
  max-width: 500px;
  padding: 30px 30px;
  background: #fdfdfe;
  border-radius: 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.4);
}
